
*__pycache__/
*.png
Users/Nhan Nguyen/OneDrive - Japan Advanced Institute of Science and Technology/Desktop/Suction gripper/program/learning/data
Users/Nhan Nguyen/OneDrive - Japan Advanced Institute of Science and Technology/Desktop/Suction gripper/flowbot/proprioception_model/checkpoints